@model Proyecto_Tienda.Resultados.ResultadoOperacionTipos<int, Proyecto_Tienda.Resultados.DetalleMensaje>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2>Resultado Complejo</h2>
<p>Resultado: @Model.Resultado</p>

<h3>Detalles del Mensaje:</h3>
<p>Código: @Model.Mensaje.Codigo</p>
<p>Descripción: @Model.Mensaje.Descripcion</p>
