@model int
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Elemento del array</h2>

<p>El valor del elemento seleccionado es: @Model</p>

<p><a asp-action="IterarElementos">Volver a la lista de elementos</a></p>