@model Proyecto_Tienda.Resultados.ResultadoOperacion<Proyecto_Tienda.Resultados.TipoComplejo>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Resultado Tipo Complejo</h2>
<p>El resultado Id de la operación es: @Model.Resultado.Id</p>
<p>El resultado Nombre de la operación es: @Model.Resultado.Nombre</p>