@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <style>
            body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            }
            main {
              background-color: #f0db24;
              color: white;
              padding: 10px 0;
              text-align: center;
            }
    </style>
    <h1 class="display-4">Welcome</h1>
    <h2>Aplicación de ejemplo basada en Asp.Net Core 8</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
